.about {
  min-height      : 80vh;
  background-color: $blue;
  color           : $white;

  h2 {
    color: $white;
  }

  &__text {
    @include text-width;
  }

  &__description-list {
    dt {
      display: list-item;
      font-weight: bold;
    }
    dd {
      margin: 0;
      padding: 0 0 0.5em 0;
    }
  }
}