.contacts {
    .container {
        display: flex;
        flex-direction: row;

        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &__text-data {
        a {
            display: inline-block;
        }
    }

    &__map {
        iframe {
            display: inline-block;
            width: 560px;
            height: 400px;

            @media (max-width: 728px) {
                width: 100%;
            }
        }
    }
}