.first-screen {
  min-height      : 100vh;
  background-color: $grey;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  position        : relative;
  height          : 100vh;

  &__title {
    @include text-width;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__theses {
    padding-bottom : 64px;
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;

    font-weight    : 500;
    font-size      : 1.5rem;
    text-align     : right;

    margin: 0px 6rem 18rem 0px; 

    opacity        : 1.0;
    @include transition;

    
    &.hide {
      opacity: 0;
    }

    li {
      margin       : 10px 5px;
      line-height  : 1.0;

      &:first-of-type {
        margin-top: 20px;
      }
    }
  }

  &__contact-us {
    font-size: 1.5rem;
    line-height: 100%;
    vertical-align: middle;
    display: inline-block;
    // align-items: flex-end;
    background-color: #2C6DB2;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 6px;
  }
}

.first-screen .container {
  min-height     : 100vh;
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

.first-screen-body {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  position       : sticky;
  padding        : 10px;
  width          : 100%;
  top            : 0;
  z-index        : 1000;
  transition     : top 0.3s ease;

  &.active {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    background-color: $grey;
    box-shadow      : 0px 12px 18px -6px rgba($black, 0.3);
  }
  &__item {
    display    : flex;
    flex-direction : row;
    flex-wrap: nowrap;
    align-items    : center;
    flex: 1 1 auto;
    justify-content: center;
    @media (max-width: 550px) {
      // display    : flex;
      // flex-direction : column;
      align-items: center;
    }
    &__side {
      flex: 20 1 auto;
    }
  }
}

.first-screen-list {
  display: flex;
  @include transition;

  @media (max-width: 768px) {
    flex-wrap      : wrap;
    justify-content: center;
  }

  &__item {
    padding : 5px 32px;
    position: relative;
    @include transition;


    @media (max-width: 480px) {
      padding: 5px 20px;
    }

    a {
      display    : block;
      font-size  : 18px;
      font-weight: 500;
      white-space: nowrap;
      // word-break: keep-all;
      // word-wrap: unset;
      // overflow-wrap: unset;
      // -webkit-hyphens: none;
      // -moz-hyphens: none;
      // -ms-hyphens: none;
      // hyphens:unset;
      color      : $black;
      @include transition;

      @media (max-width: 480px) {
        font-size: 16px;
      }

      &::before {
        content         : '';
        position        : absolute;
        left            : 0;
        right           : 0;
        top             : 20px;
        height          : 2px;
        background-color: transparent;
        @include transition;
      }

      &.active {
        color: $blue-light;
      }
    }

    @include hovers {
      &:hover {
        a {
          color: $blue-light;

          &::before {
            top             : 100%;
            background-color: $blue-light;
          }
        }
      }
    }
  }

}

.first-screen-menu-logo {
  position   : relative;
  white-space: nowrap;
  z-index    : 10;
  // @include transition;

  a img {
    @include transition;
    width          : 80px; // initial image width
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
  }
}

.first-screen-menu-logo-icon {
  display: flex;
  position   : relative;
  z-index    : 10;
  @include transition;

  a img {
    @include transition;
    width          : 50px; // initial image width
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
  }
}

.trap-element {
  height    : 1px;
  visibility: hidden;
}