.projects {
  background-color: #313131;
  color: $white;

  h2 {
    color: $white;
  }

  &__cards {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows   : min-content min-content;
    gap                  : 30px;

    @media (max-width: 1024px) {
      display       : flex;
      flex-direction: column;
    }
  }

  &__item {
    position     : relative;
    border-radius: 7px;
    padding      : 30px;
    min-height   : 250px;
    box-shadow   : 0px 0px 6px 0px rgba($black, 0.1);

    @media (max-width:768px) {
      padding      : 15px;
      border-radius: 5px;
    }

    h4 {
      margin-bottom: 15px;
    }
  }

  &__link {
    display    : block;
    font-weight: 800;
    color      : inherit;
    @include transition;
  }

  &__item {
    display       : flex;
    flex-direction: column;


    .projects__link:last-child {
      margin-top           : auto;
      padding-top          : 30px;
      font-size            : 1.5rem;
      // Underline decoration
      text-decoration-style: wavy;
      text-decoration-line : underline;
      text-underline-offset: 4px;
    }
  }

  // Alternating the colors of the cards
  &__item {
    background-color: $blue-light;
    color: $white;
    grid-column: span 2;

    @media (min-width: 1025px) {
      &:nth-child(4n-3), &:nth-child(4n) {
        background-color: $white;
        color: $black;
        grid-column: span 1;
      }
    }
    @media (max-width: 1024px) {
      &:nth-child(odd) {
        background-color: $white;
        color: $black;
      }
    }
  }
}