footer {
  background-color: $blue-light;
  color           : $white;

  h2 {
    color        : $white;
    margin-bottom: 30px;
  }
}

.footer {
  &__block {
    display        : flex;
    justify-content: space-between;
    padding-bottom : 80px;

    @media (max-width: 768px) {
      flex-direction: column;
      padding-bottom: 50px;
      align-items   : center;
    }
  }

  &__info {
    text-align   : right;
    margin-bottom: -80px;
    font-weight  : 300;
  }
}

.footer-left {
  width: 48%;

  @media (max-width: 768px) {
    width        : 100%;
    max-width    : 100%;
    align-items  : flex-start;
    margin-bottom: 30px;
  }

  &__logo {
    width           : 80px;
    height          : 80px;
    padding         : 15px;
    margin-bottom   : 20px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: $blue;
    margin-right    : auto;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  &__social {
    display   : none;
    margin-top: 20px;

    a:not(:last-child) {
      margin-right: 20px;
    }

    a {
      @include transition;

      @include hovers {
        &:hover {
          transform: translateX(-3px);
        }
      }
    }

    svg {
      width : 35px;
      height: 35px;
    }
  }
}

.footer-menu {
  width          : 20%;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;

  @media (max-width: 768px) {
    width        : 100%;
    margin-right : 0;
    align-items  : flex-start;
    margin-bottom: 30px;
  }
}

.footer-list {
  display       : flex;
  flex-direction: column;
  @include transition;
  margin-bottom: 30px;

  &__item {
    padding : 3px 0px;
    position: relative;
    @include transition;

    @media (max-width: 480px) {
      width  : 100%;
      padding: 3px 0;
    }

    a {
      display    : block;
      font-weight: 500;
      @include transition;
    }

    @include hovers {
      &:hover {
        transform: translateX(-3px);
      }
    }
  }
}

.footer-address {
  width          : 20%;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : flex-end;
  max-width      : min-content;

  @media (max-width: 768px) {
    width       : 100%;
    max-width   : 100%;
    margin-right: 0;
    align-items : flex-start;
  }

  h2 {
    color: $white;
  }

  a {
    display    : block;
    width      : 100%;
    font-weight: 500;
    padding    : 10px 0px;
    position   : relative;
    @include transition;

    @media (max-width: 480px) {
      width  : 100%;
      padding: 10px 0
    }

    @include hovers {
      &:hover {
        transform: translateX(3px);
      }
    }
  }
}