$white     : #ffffff;
$black     : #000000;
$blue      : #1D2031;
$blue-light: #2C6DB2;
$grey      : #E2E2E2;
$grey-dark : #d9d9d9;
$background-grey: #313131;
$background-footer: #3e3e3e;



$font-family-default: 'Rubik',
sans-serif;
$font-family-secondary: 'Roboto',
sans-serif;
$font-size-default: 16px;

@mixin hovers {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin transition {
  transition: all 0.4s ease;
}

@mixin text-width {
  max-width: 800px;
}