@import 'common/variable';
@import 'common/common';
@import 'common/footer';
@import 'main/start-video';
@import 'main/about';
@import 'main/activities';
@import 'main/projects';
@import 'main/careers';
@import 'main/projects-pages';
@import 'main/contacts';

.about > .container,
.activities > .container,
.projects > .container {
  width: calc(100% - 48px);
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  .about > .container,
  .activities > .container,
  .projects > .container {
    width: calc(100% - 24px);
  }
}